<h2 class="major">About</h2>
<span class="image main"><img loading="lazy" alt="Education banner" src="assets/images/Education-Banner.webp" style="height: 130%;" /></span>
<p>
  My educational background comprises of a Bachelor's degree in Software Engineering earned from the esteemed Princess Sumaya University for Technology.
  I have acquired hands-on experience in HTML5, CSS, and JavaScript, and further boosted my skill set with a certification in Scrum methodologies.
  I am a self-motivated individual who is always eager to learn and grow, and I have taken advantage of online learning opportunities by taking multiple courses on Udemy.
  My quest for knowledge has led me to complete an internship as a web developer, where I had the opportunity to work with Angular and gain practical experience in the field.
  My education is a representation of my dedication to technology and my commitment to continuous learning.
  <br><br>
  I enjoy applying my skills to the real world as I have taken advantage of Python and Selenium to build automation projects that improve my efficiency.
  My expertise extends beyond just front-end development and I have utilized PHP for back-end development in my HTML and CSS projects, showcasing my full-stack capabilities.
  My projects and attention to detail are a testament to my problem-solving skills and ability to find creative solutions to enhance my work.
  Overall, my education, experience, and projects demonstrate my passion for technology and my drive to continuously improve and expand my skill set.
</p>
