<h2 class="major">Intro</h2>
<span class="image main">
  <picture class="image main">
    <source srcset="/assets/images/aboutMeBanner.webp" media="(min-width: 30em)">
    <img loading="lazy" src="/assets/images/Welcome.webp" height="400" decoding="async" alt="Welcome banner">
  </picture>
</span>
<p>
  Welcome to my portfolio, a digital showcase of my passion for software engineering! I'm a highly motivated engineer with a BSc degree in software engineering,
  and I'm always looking for new ways to expand my knowledge and make a positive impact on the world.
  <br><br>
  I have a proven track record of success, with several projects under my belt that demonstrate my technical skills and attention to detail. My ultimate goal is to
  become a tech lead, where I can use my experience to guide and mentor others while supporting the success of my company. So come on in, take a look around,
  and let's explore the world of software engineering together!
</p>
