<div id="wrapper">
  <app-site-header></app-site-header>

  <div id="main">
    <article id="intro">
      <app-intro-section></app-intro-section>
    </article>

    <article id="work">
      <app-projects-section></app-projects-section>
    </article>

    <article id="about">
      <app-about-section></app-about-section>
    </article>

    <article id="contact" style="zoom: 1;">
      <app-contact-section></app-contact-section>
    </article>

    <article id="CV" style="zoom: 1;">
      <app-cv-section></app-cv-section>
    </article>
  </div>

  <app-site-footer></app-site-footer>
</div>

<div id="bg"></div>

<app-background-canvas></app-background-canvas>
