<header id="header">
  <div class="logo">
    <div class="logoPadder" style="padding-top: 5.5%;">
      <img class="logoImg" src="assets/images/Aj logo Circle.webp" alt="">
    </div>
  </div>
  <div class="content">
    <div class="inner">
      <h1>Ameer Jamal</h1>
      <p style="font-size: 1.2rem;margin: 0px 0px 0.1rem;">Software Engineer.</p>
      <div class="subIntro">
        <p>Revolutionizing the digital landscape
          with a passion for crafting <br>efficient,
          Creative, and user-friendly software solutions</p>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="#intro">About Me</a></li>
      <li><a href="#work">Projects</a></li>
      <li><a href="#about">Education</a></li>
      <li><a href="#contact">Contact Me</a></li>
    </ul>
  </nav>
</header>
